<%- include('../layouts/head.ejs') %> 

<%- include('../partials/user-navbar-loggedIn.ejs') %> 

<div class="container mt-4 mb-4">
    <div class="row d-flex cart align-items-center justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="d-flex justify-content-center">
                </div>
                <div class="row g-0">
                    <div class="col-md-6 border-right p-5">
                        <div class="text-center order-details">
                            <div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span class="check1"><i class="fa fa-check"></i></span> <span class="font-weight-bold">Order Confirmed</span> <small class="mt-2">Your illustraion will go to you soon</small> <a href="#" class="text-decoration-none invoice-link">View Invoice</a> </div> <a href="/all-orders"><button class="btn btn-danger btn-block order-button">Go to your Order</button></a>
                        </div>
                    </div>
                    <div class="col-md-6 background-muted">




                        



                        <div class="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-body text-start text-black p-4">
                                    <h5 class="modal-title text-uppercase mb-5" id="exampleModalLabel">Johnatan Miller</h5>
                                    <h4 class="mb-5" style="color: #35558a;">Thanks for your order <i class="fa-regular fa-face-grin-wink"></i></h4>
                                    <p class="mb-0" style="color: #35558a;">Payment summary</p>
                                    <hr class="mt-2 mb-4"
                                    style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">

                                    <div class="d-flex justify-content-between">
                                    <p class="fw-bold mb-0">Ether Chair(Qty:1)</p>
                                    <p class="text-muted mb-0">$1750.00</p>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                    <p class="small mb-0">Shipping</p>
                                    <p class="small mb-0">$175.00</p>
                                    </div>

                                    <div class="d-flex justify-content-between pb-1">
                                    <p class="small">Tax</p>
                                    <p class="small">$200.00</p>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                    <p class="fw-bold">Total</p>
                                    <p class="fw-bold" style="color: #35558a;">$2125.00</p>
                                    </div>

                                </div>
                                </div>
                            </div>
                            </div>



                    </div>
                </div>
                <div> 

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/foot.ejs') %> 
